$prime: #0d1818;
$complementary: #ffffff;
$col: blue;

body,
html {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	font-size: 1em;
	margin: 0;
	padding: 0;
	background-color: $prime;
	color: $complementary;
	&::-webkit-scrollbar {
		width: 7px;
		&-track {
			background: $prime;
		}
		&-thumb {
			background: rgba($complementary, 0.3);
			border-radius: 10px;
			&:hover {
				background: rgba($complementary, 0.5);
			}
		}
	}
}

* {
	box-sizing: border-box;
}

::selection {
	background-color: $complementary;
	color: $prime;
}
