// Presets
$white: #fafafa;
$black: #09090b;

body,
html {
	width: 100%;
	height: 100vh;
	&::-webkit-scrollbar {
		width: 7px;
		&-track {
			background: $black;
		}
		&-thumb {
			background: rgba($white, 0.3);
			border-radius: 10px;
			&:hover {
				background: rgba($white, 0.5);
			}
		}
	}
}

*.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

* {
	box-sizing: border-box;
}

::selection {
	background-color: $white;
	color: $black;
}

// Page Transitions

.auth_next-enter-active,
.auth_next-leave-active {
	transition: all 0.6s;
}

.auth_next-enter-from {
	opacity: 0;
	filter: blur(10px);
	transform: translateX(10%);
}

.auth_next-leave-to {
	opacity: 0;
	filter: blur(10px);
	transform: translateX(-10%);
}

.default-enter-active,
.default-leave-active {
	transition: all 0.35s;
}

.default-enter-from,
.default-leave-to {
	opacity: 0;
	filter: blur(5px);
}

.default-leave-to {
	opacity: 0;
	filter: blur(5px);
}

// Layout Transitions

.layout-enter-active,
.layout-leave-active {
	transition: all 0.6s;
}

.layout-enter-from {
	opacity: 0;
	filter: blur(10px);
	transform: translateX(10%);
}

.layout-leave-to {
	opacity: 0;
	transform: translateX(-10%);
}

// Other Transitions:
